<footer class="relative flex flex-col w-full py-10 text-lg sm:flex-row sm:justify-center bg-primary-700">
  {% set links = [
    'About us',
    'Request aid',
    'How to help'
  ] %}
  {% set delim = joiner('<div class="w-1/2 h-px mx-auto bg-white sm:h-auto sm:w-px sm:mx-0"></div>') %}
  {% for link in links -%}
    {{ delim() | safe }}
    <div class="px-6 py-2 text-center text-white sm:flex">
      <a class="no-underline sm:my-auto" href="/{{ link | replace(' ', '-') | lower }}">{{ link }}</a>
    </div>
  {%- endfor %}
  {{ delim() | safe }}
  <div class="px-6 py-2 text-center text-white">
    {% for item in site.social %}
      <p><a href="{{ item.url }}" class="no-underline" target="_blank" rel="noopener noreferrer nofollow">{{ item.title }}</a></p>
    {% endfor %}
  </div>
  {{ delim() | safe }}
  <div class="px-6 py-2 text-center text-white sm:flex">
    <a class="no-underline sm:my-auto" href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E355180&id=11"
       target="_blank" rel="noopener noreferrer nofollow">Donate</a>
  </div>
</footer>
<div class="w-full bg-gray-950 text-white py-5">
  <div class="w-full m-auto grid md:w-4/5 xl:w-3/4 md:grid-cols-2 px-4 md:px-0">
    <div class="text-center mb-4 md:mb-0 md:text-left md:w-3/4 xl:w-full">
      <p class="text-sm font-light">
        1620&nbsp;Pleasant St
      </p>
      <p class="text-sm font-light">
        Suite&nbsp;210
      </p>
      <p class="text-sm font-light">
        Des&nbsp;Moines,&nbsp;IA&nbsp;50314
      </p>
    </div>
    <div class="text-center md:text-right w-full">
      <p class="text-sm font-light">
        Copyright &copy; {{ site.title }}, <span x-data x-text="new Date().getFullYear()"></span>
      </p>
      <br>
      <p class="text-sm font-light">
        {{ site.title }} is a 501(c)(3) not-for-profit organization.
      </p>
      <p class="text-sm font-light">
         EIN number 88-2807884.
      </p>
    </div>
  </div>
</div>