<nav id="header"
  class="flex flex-col items-center md:justify-between w-full px-4 py-1 bg-transparent shadow-none sm:flex-row sm:px-6 bg-primary-700 sm:shadow">
  <div id="menuHeader"
    class="flex flex-row flex-no-wrap items-center self-start justify-between w-full sm:w-auto sm:self-center sm:flex-none">
    <a aria-label="Home" href="/" class="relative inline hover:no-underline bg-white border-4 border-primary">
      {{ plaiceholder.logoTitle | safe }}
    </a>
    <div class="do-not-delete"></div>
    <div>
      <button id="menuBtn" class="block hamburger sm:hidden focus:outline-none bg-primary-700 pt-3" type="button" onclick="navToggle();"
        aria-label="Show Menu">
        <span class="hamburger__top-bun right-5"></span>
        <span class="hamburger__bottom-bun right-5"></span>
        <span class="block text-right text-white text-sm font-light mt-2">Menu</span>
      </button>
    </div>
  </div>
  <div id="menu"
    class="fixed inset-0 flex-col items-center self-end justify-center hidden h-full py-6 sm:relative sm:w-auto sm:self-center sm:flex sm:flex-row sm:py-0 bg-primary-700/90 z-[2]">
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/about-us">About us</a>
    <a class="nav" href="/request-aid">Request aid</a>
    <a class="nav" href="/how-to-help">How to help</a>
    <a class="nav" href="/news">News</a>
    <div class="flex flex-row flex-wrap items-center justify-center py-3 text-white sm:py-0">
      <ul class="flex m-0 mx-auto text-center">
        {% for item in site.social %}
        <li class="p-1">
          <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer nofollow">
            <svg width="24px" height="24px">
              <title>{{ item.title }}</title>
              <use xlink:href="{{ item.image }}"></use>
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div></div>
</nav>
<div id="header-filler"></div>