<p class="mb-6">After the Taliban took control of Afghanistan in August 2021, tens of thousands of Afghans fled Afghanistan. To date, more than 900 of them have made their home in Iowa.</p>
<p>Established in 2022, Afghan Partners in Iowa aims to train Afghan refugees who speak English so they can help fellow Afghan refugees with their needs and challenges.</p>