{% macro form(name, action, xData, method='post') %}
  <form name="{{ name }}" action="{{ action }}" method="{{ method }}" x-data="{{ xData }}">
    {{ caller() }}
  </form>
{% endmacro %}

{% macro button(text, name, type='submit', class='') %}
  <button name="{{ name }}" type="{{ type }}"
          class="border border-primary-500 bg-primary-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-primary-600 focus:outline-none focus:shadow-outline {{ class }}"
  >{{ text }}</button>
{% endmacro %}

{% macro input(name, value='', type='text', placeholder='', class='', rows='4', model='') %}
  {% if type === 'textarea' %}
    <textarea name="{{ name }}" id="{{ name }}"
              value="{{ value | escape }}"
              class="block w-full rounded-md border-gray-300 focus:border-primary-500 focus:ring-primary-500 sm:text-sm {{ class }}"
              placeholder="{{ placeholder }}"
              rows="{{ rows }}"
              x-model="{{ model }}"
    ></textarea>
  {% else %}
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}"
           value="{{ value | escape }}"
           class="block w-full rounded-md border-gray-300 focus:border-primary-500 focus:ring-primary-500 sm:text-sm {{ class }}"
           placeholder="{{ placeholder }}"
           x-model="{{ model }}">
  {% endif %}
{% endmacro %}

{% macro label(text, forHtml, class='') %}
  <label for="{{ forHtml }}" class="{{ class }}">{{ text }}</label>
{% endmacro %}

{% macro field(text, name, value='', type='text', placeholder='', inputClass='', rows='4', model='', labelClass='') %}
  {{ label(text, name, labelClass) }}
  {{ input(name, value, type, placeholder, inputClass, rows, model) }}
{% endmacro %}

{% macro error(message, show, class='mb-2') %}
  <p x-cloak class="text-secondary-400 text-sm {{ class }}" :class="{{ show }} || 'invisible'">{{ message }}</p>
{% endmacro %}

{% macro multiError(message1, show1, message2, show2, class='mb-2') %}
  <p x-cloak class="text-secondary-400 text-sm {{ class }}" :class="{{ show1 }} || {{ show2 }} || 'invisible'" x-text="({{ show1 }} ? '{{ message1 }}' : '') + ({{ show2 }} ? '{{ message2 }}' : '&nbsp;')"></p>
{% endmacro %}