{% macro form(name, action, xData, method='post') %}
  <form name="{{ name }}" action="{{ action }}" method="{{ method }}" x-data="{{ xData }}" x-init="$watch('submitCount', () => errors ? window.scrollTo(0,0) : submitContactForm())">
    <p x-cloak class="text-secondary-400 mb-6" x-show="errors">Please correct the errors below before submitting</p>
    <p class="required mb-4">Required</p>
    {{ caller() }}
    <input class="hidden" name="recaptchaToken" value="">
  </form>
{% endmacro %}

{% macro button(text, name, type='submit', class='') %}
  <button name="{{ name }}" type="{{ type }}"
          class="border border-primary-500 bg-primary-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-primary-600 focus:outline-none focus:shadow-outline {{ class }}"
  >{{ text }}</button>
{% endmacro %}

{% macro input(name, value='', type='text', placeholder='', class='', rows='4', model='', validate=false, validation=false) %}
  {% if type === 'textarea' %}
    <textarea name="{{ name }}" id="{{ name }}"
              value="{{ value | escape }}"
              class="peer block w-full rounded-md border-gray-300 focus:border-primary-500 focus:ring-primary-500 sm:text-sm {{ class }}"
              placeholder="{{ placeholder }}"
              rows="{{ rows }}"
              x-model="{{ model }}"
              x-init="$watch('submitCount', () => $el.setCustomValidity(errors && {{ validation }} ? 'Invalid field.' : ''))">
    ></textarea>
  {% else %}
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}"
           value="{{ value | escape }}"
           class="peer block w-full rounded-md border-gray-300 focus:border-primary-500 focus:ring-primary-500 sm:text-sm {{ class }}"
           placeholder="{{ placeholder }}"
           x-model="{{ model }}"
           x-init="{{ validate }} && $watch('submitCount', () => $el.setCustomValidity(errors && ({{ validation }} ? {{ validation }} : {{ model }}.length === 0) ? 'Invalid field.' : ''))">
  {% endif %}
{% endmacro %}

{% macro label(text, forHtml, class='') %}
  <label for="{{ forHtml }}" class="{{ class }}">{{ text }}</label>
{% endmacro %}

{% macro field(
  text,
  name,
  value='',
  type='text',
  placeholder='',
  inputClass='',
  rows='4',
  model='',
  labelClass='',
  validation=false,
  errorText=''
) %}
  <div>
    {{ label(text, name, labelClass) }}
    {{ input(name, value, type, placeholder, inputClass, rows, model, errorText.length, validation) }}
    {% if errorText %}
      {{ error(errorText) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro error(message) %}
  <p class="text-secondary-400 text-sm invisible peer-invalid:visible mb-2">{{ message }}</p>
{% endmacro %}

{% macro recaptchaScript(siteKey, formName) %}
  <script async src="https://www.google.com/recaptcha/api.js?render={{ siteKey }}"></script>

  <script>
    function submitContactForm() {
      grecaptcha.ready(function() {
        grecaptcha.execute('{{ siteKey }}', { action: 'submit' }).then(function(token) {
          document.querySelector('input[name="recaptchaToken"]').value = token;
          document.querySelector('form[name="{{ formName }}"]').submit();
        });
      });
    }
  </script>
{% endmacro %}

{% macro recaptchaDisclaimer() %}
  <p class="text-sm font-light mb-4">
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy" class="external">Privacy Policy</a> and
    <a href="https://policies.google.com/terms" class="external">Terms of Service</a> apply.
  </p>
{% endmacro %}