---
layout: page.njk
title: Thank you
headerClass: bg-gray-200
mainClass: bg-gray-200
description: >
  Thank you to our supporters and friends for your commitment throughout 2023. With your support, we aim to continue our mission for 2024.
date: Last Modified
---
<div class="w-full pb-10">
  <div class="bg-white w-full m-auto p-8">
    <p class="text-lg py-4">
        Dear Valued Supporters and Friends,
    <p>
    <p class="text-lg py-4">
        As we step into a new year, we want to express our deepest gratitude for your unwavering support throughout 2023. Your commitment has been the driving force behind the significant, positive impact we've achieved in aiding the Afghan community in Iowa to become self-sufficient.
    </p>
    <p class="text-lg py-4">
        Your generosity has allowed us to provide essential support, guidance, and resources to individuals and families seeking refuge in the state of Iowa. From language assistance and community programs to mental health support, education initiatives, and various resources, your contributions have made a meaningful difference in the lives of those we serve.
    </p>
    <p class="text-lg py-4">
        Looking back, we have accomplished so much together in the past year. Your support has enabled us to empower Afghan men, women, and children to build a foundation for self-sufficiency and independence. From facilitating educational opportunities to offering community-building initiatives, your dedication has been instrumental in fostering a welcoming and supportive environment for those seeking a new beginning.
    </p>
    <p class="text-lg py-4">
        As we embark on the journey into 2024, we are filled with hope and excitement for what lies ahead. Your continued support remains the cornerstone of our efforts to empower and uplift those in need. Together, we can continue to create positive change, allowing Afghan individuals and families to not only thrive but also to contribute meaningfully to their communities.
    </p>
    <p class="text-lg py-4">
        Every life you've touched has played a crucial role in this shared endeavor. Your support has been a beacon of light, guiding individuals towards self-sufficiency and a brighter future. Our hope for 2024 is that, with your ongoing support, we can build upon the successes of the past and work towards a future where every individual has the opportunity to lead a fulfilling and self-sufficient life.
    </p>
    <p class="text-lg py-4">
        Here's to a new year filled with compassion, resilience, and positive transformations. Thank you for being an integral part of our mission, and we look forward to another year of collaboration and shared achievements.
    </p>
    <p class="text-lg pt-8 pb-4">
        Warm regards,
    </p>
    <p class="text-lg">
        Shir Agha Safi
    </p>
    <p class="text-lg">
        Executive Director
    </p>
    <p class="text-lg">
        Afghan Partners in Iowa
    </p>
  </div>
</div>