---
layout: base.njk
title: 'Ensuring Equity: Complaint Process'
description: We are Afghans helping Afghans. Afghan Partners in Iowa is experienced in working with refugees from Afghanistan and we are here to help.
date: Last Modified
---

<header class="min-h-screen-60">
  <div>
    {{ plaiceholder.kabul | safe }}
  </div>
  {% include "navbar.njk" %}
</header>
<main id="main-content" class="flex flex-col items-center justify-center w-full {{ mainClass or 'bg-white' }}">
  <div class="self-center w-full pt-8">
    <h1 class="text-center tracking-widest uppercase text-gray-800">{{ title }}</h1>
    <div class="mt-12">
      <div class="m-auto w-full sm:w-2/3 xl:w-1/2 mb-16 px-8">
        <p class="mb-6">This page outlines the complaint process for Afghan Partners in Iowa.</p>
        <ul class="list-disc pl-4">
          <li>
            <p class="mb-6"><a class="text-secondary-500" href="#pashto">پښتو</a></p>
          </li>
          <li>
            <p class="mb-6"><a class="text-secondary-500" href="#dari">دری</a></p>
          </li>
          <li>
            <p class="mb-6"><a class="text-secondary-500" href="#english">English</a></p>
          </li>
        </ul>
        <p class="mb-6"></p>
      </div>
      <div class="m-auto w-full sm:w-2/3 xl:w-1/2 mb-16 px-8" dir="rtl" id="pashto">
        <p class="mb-6"><span class="font-bold">د شکایتونو پروسه</span></p>
        <p class="mb-6">۱: هغه اشخاص چې احساس کوی دوی سره مناسب چلند نه دی شوی د شکایت فورمه په لیکلی ډول یا د انلاین پورټل له
          لارې ډکه کړی. فورمه باید د پیښې یا عمل وروسته د 14 کاری ورځو دننه بشپړه شی چې د شکایت اساس وی.</p>
        <p class="mb-6"><a class="text-secondary-500" href="https://forms.gle/r1ahT4HdqGiNgRFW9"><u>د شکایاتو فورمه</u></a>
        </p>
        <p class="mb-6">2. د شکایت فورمه د ECSH برنامې رییس او د ORR نظارت کونکی ته لارښود کیږی. د پروګرام رئیس او د ORR
          څارونکی په دریو ورځو کې سره ګوری ترڅو د شکایت او ځواب په اړه بحث او مستند کړی. که چیرې د برنامې رییس یا د ORR نظارت
          کونکی په شکایت کې شامل شی ، نو دوی به پدې پروسه کې برخه وانخلی. د اړتیا په صورت کې په &nbsp; دې غونډه کې اضافی غړی
          هم شاملېدای شی.&nbsp;&nbsp;&nbsp;</p>
        <p class="mb-6">a. <span class="font-bold">په اسنادو کې باید شامل وی:</span></p>
        <ol class="list-decimal pl-4">
          <li>
            <p class="mb-6">نیټه ،&nbsp;</p>
          </li>
          <li>
            <p class="mb-6">غوښتل شوی خدمت،&nbsp;</p>
          </li>
          <li>
            <p class="mb-6">د انفرادی ORR وړتیا شواهد.</p>
          </li>
          <li>
            <p class="mb-6">د خبرو اترو یا متقابل عمل اسناد چې د شکایت لامل کیږی.</p>
          </li>
          <li>
            <p class="mb-6">د اړتیا په صورت کې به د یو کس او ژباړونکی سره د ملاقات لپاره دوه غړی ټاکل کېږی. کارمندان به د
              جنسیت ، قومیت ، ژبې یا نورو اړینو فاکتورونو پراساس غوره شی.</p>
          </li>
        </ol>
        <p class="mb-6">3. د کارمندانو دوه غړی په سمدستی توګه او د دریو ورځو په اوږدو کې د شکایت د شرایطو په اړه د بحث لپاره
          له فرد سره اړیکه ونیسی. هغه ژباړونکی چې په قضیه کې دخیل نه وی د فرد سره مرسته کوی. په غونډه کې ممکن د ORR وړتیا د
          شواهدو غوښتنه یا د شکایت شرایطو پورې اړوند اضافی معلومات شامل وی.</p>
        <p class="mb-6">4. د پروګرام رییس او ORR نظارت کونکی به په چټکۍ سره او معمولا د 7 کاری ورځو په اوږدو کې د ټولو کړنو تر
          نیټې پورې اخیستل شوی ټول اسناد بیاکتنه وکړی او د وضعیت حل کولو هڅه به وکړی.</p>
        <p class="mb-6">5. د شکایت پریکړه او پایله به سمدلاسه د میتود پراساس فرد سره شریک شی (ایمیل ، تلیفون ، میل ، د نږدی نه
          ، او نور) په شکایت کې ثبت شوی او په اسنادو کې به شامل شی.</p>
        <p class="mb-6"><span class="font-bold">د استیناف یا دعوا رسمی پروسه</span></p>
        <p class="mb-6">1. که شکایت د فرد د رضایت له مخې حل نه شی، شخص کولای شی شکایت او د ملاتړ هر ډول اسناد د افغان پارتنر
          بورډ ته د بریښنالیک یا میل له لارې ______ ثبت کړی.</p>
        <p class="mb-6">2. د افغان د پارتنر هیئت مدیره پلاوی به د هغه د شکایت اوریدو لپاره ژر تر ژره غونډه وکړی. هغه ژباړونکی
          چې په قضیه کې دخیل نه وی د مراجعینو سره مرسته کوی. په ډیری شرایطو کې ، ناسته باید د دعوا غوښتنې ترلاسه کولو وروسته د
          30 کاری ورځو دننه وی. د افغان پارتنر د همکار مدیره هیئت به ژر تر ژره خپلې موندنې د پروګرام رییس او فرد ته وړاندې
          کړی.&nbsp;&nbsp;</p>
        <p class="mb-6">د شکایتونو پروسه او د هغې فعالیت ثبت محرم دی</p>
      </div>
      <div class="m-auto w-full sm:w-2/3 xl:w-1/2 mb-16 px-8" dir="rtl" id="dari">
        <p class="mb-6"><span class="font-bold">روند شکایت</span></p>
        <p class="mb-6">1. افرادی که احساس می کنند با آنها رفتار منصفانه ای نشده است، یک "فورم شکایت" را به صورت کتبی یا از
          طریق یک پورتال آنلاین تکمیل کنند. فورم باید ظرف 14 روز کاری پس از رویداد یا اقدامی که مبنای شکایت است، تکمیل شود.
        </p>
        <p class="mb-6"><a class="text-secondary-500" href="https://forms.gle/rqmu6PwrbJwJPnu47"><u>فورمه شکایت</u></a></p>
        <p class="mb-6">. فورم شکایت به مدیر برنامه ECSH و سرپرست ORR ارسال می شود. مدیر برنامه و سرپرست ORR به سرعت و معمولا
          ظرف سه روز برای بحث و مستندسازی شکایت و پاسخ ملاقات می کنند. اگر مدیر برنامه یا سرپرست ORR در شکایت گنجانده شود، در
          این پروسه آنها شرکت نخواهند کرد. در صورت نیاز ممکن است کارکنان اضافی در این جلسه گنجانده شوند.&nbsp;</p>
        <p class="mb-6">a. <span class="font-bold">مستندات باید شامل موارد زیر باشد:</span></p>
        <p class="mb-6">i. تاریخ،&nbsp;</p>
        <p class="mb-6">ii. خدمات درخواستی،&nbsp;</p>
        <p class="mb-6">iii. شواهدی مبنی بر واجد شرایط بودن فرد در ORR.</p>
        <p class="mb-6">4. مستندات مکالمه یا تعاملی که منجر به شکایت می شود.</p>
        <p class="mb-6">v. دو کارمند برای ملاقات با فرد و ترجمان در صورت نیاز انتخاب می شوند. کارکنان بر اساس جنسیت، قومیت،
          زبان یا سایر عوامل اساسی انتخاب خواهند شد.</p>
        <p class="mb-6">3. دو نفر از کارکنان به سرعت و ظرف سه روز با فرد تماس می گیرند تا با شرایط شکایت ملاقات کرده و در مورد
          آن بحث کنند. ترجمان که در این قضیه دخالتی ندارد به فرد کمک می کند. جلسه ممکن است شامل درخواست شواهدی مبنی بر واجد
          شرایط بودن ORR یا اطلاعات اضافی مربوط به شرایط شکایت باشد.</p>
        <p class="mb-6">4. مدیر برنامه و سرپرست ORR به سرعت و معمولا ظرف 7 روز کاری تمام مستندات تمام اقدامات انجام شده تا به
          امروز را بررسی می کنند و تلاش می کنند تا وضعیت را حل کنند.</p>
        <p class="mb-6">5. تصمیم و نتیجه شکایت بلافاصله بر اساس روش (ایمیل، تلفن،، حضوری و ...) ثبت شده در شکایت با فرد به
          اشتراک گذاشته می شود و در مستندات درج می شود.</p>
        <p class="mb-6"><span class="font-bold">روند رسمی تجدید نظر یا دعوا</span></p>
        <ol class="list-decimal pl-4">
          <li>
            <p class="mb-6">اگر شکایت به رضایت فرد حل نشود، فرد می تواند شکایت و هر گونه اسناد پشتیبان را از طریق ایمیل یا از
              طریق میل ______ به هیئت&nbsp; افغان پارتنر ارسال کند.</p>
          </li>
          <li>
            <p class="mb-6">هیئت مدیره افغان پارتنر به سرعت برای رسیدگی به شکایت فرد تشکیل جلسه خواهد داد. ترجمان که در پرونده
              دخالتی ندارد به مشتری کمک خواهد کرد. در بیشتر شرایط، جلسه باید ظرف 30 روز کاری پس از دریافت درخواست تجدید نظر
              برگزار شود. هیئت مدیره افغان پارتنر به سرعت یافته های خود را به مدیر برنامه و فرد ارائه خواهد کرد.</p>
          </li>
        </ol>
        <p class="mb-6">روند شکایت و ثبت فعالیت آن محرمانه است</p>
      </div>
      <div class="m-auto w-full sm:w-2/3 xl:w-1/2 mb-16 px-8" id="english">
        <p class="mb-6">Complaint Process</p>
        <ol class="list-decimal pl-4">
          <li>
            <p class="mb-6">Individuals who feel they have not been treated fairly complete a “<a class="text-secondary-500"
                href="https://forms.gle/zY6MJz9s7SCnJpZ67"><u>Complaint Form</u></a>” in writing or through an online portal.
              Form should be completed within 14 working days after the event or action that is the basis for the
              Complaint.&nbsp;</p>
          </li>
          <li>
            <p class="mb-6">Complaint Form is directed to ECSH Program Director<i> </i>and ORR Supervisor. Program Director
              and ORR Supervisor meet promptly and usually within three days to discuss and document the complaint and
              response. If the Program Director or ORR Supervisor is included in the complaint, they will not participate in
              this process. Additional staff may be included in this meeting if needed.&nbsp;</p>
            <ol class="list-decimal pl-4">
              <li>
                <p class="mb-6">Documentation should include:&nbsp;</p>
                <ol class="list-decimal pl-4">
                  <li>
                    <p class="mb-6">Date,&nbsp;</p>
                  </li>
                  <li>
                    <p class="mb-6">Requested Service,&nbsp;</p>
                  </li>
                  <li>
                    <p class="mb-6">Evidence of ORR Eligibility of the individual,&nbsp;</p>
                  </li>
                  <li>
                    <p class="mb-6">Documentation of the conversation or interaction leading to the complaint.</p>
                  </li>
                  <li>
                    <p class="mb-6">Two staff members chosen to meet with the individual and interpreter if needed. Staff
                      members will be chosen based on gender, ethnicity, language, or other essential factors.</p>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <p class="mb-6">Two members of staff promptly and within three days contact the individual to meet and discuss the
              circumstances of the complaint. An interpreter who is not involved with the case will assist the individual.
              Meeting may include requesting evidence of ORR eligibility or additional information related to the
              circumstances of the complaint.</p>
          </li>
          <li>
            <p class="mb-6">The Program Director and ORR Supervisor will promptly and usually within 7 working days review all
              documentation of all the actions taken to-date and will make an attempt to resolve the situation.</p>
          </li>
          <li>
            <p class="mb-6">The decision and outcome of the complaint will be immediately shared with the individual based on
              the method (email, phone, mail, in person, etc) recorded in the complaint and will be included in the
              documentation.</p>
          </li>
        </ol>
        <p class="mb-6">Formal Appeal Process</p>
        <ol class="list-decimal pl-4">
          <li>
            <p class="mb-6">If the complaint is not resolved to the individual’s satisfaction, the individual may submit the
              complaint and any supporting documentation to the Afghan Partner’s Board by email or mail to ______.</p>
          </li>
          <li>
            <p class="mb-6">The Afghan Partner Board of Directors will meet promptly to hear the individual’s complaint. An
              Interpreter who is not involved with the case will assist the client. Under most circumstances, the meeting
              shall be within 30 working days of receipt of the request for an appeal. The Afghan Partner Board of Directors
              will promptly furnish its findings to the Program Director and the individual.&nbsp;&nbsp;</p>
          </li>
        </ol>
        <p class="mb-6">The complaint process and record of its activity is confidential</p>
      </div>
    </div>
  </div>
</main>
