---
layout: page.njk
title: How to help
desc: Afghan Partners in Iowa
head: >
  <link rel="preconnect" href="https://www.google.com">
  <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
---

{% renderFile "./src/_includes/content/offer-help-form.njk", env %}
