---
layout: page.njk
title: How to help
headerClass: bg-gray-200
mainClass: bg-gray-200
h1Class: sr-only
description: More than 900 refugees from Afghanistan are living in Iowa and they need our help with things such as employment, housing, immigration, interpretation, and transportation.
head: >
  <link rel="preconnect" href="https://docs.google.com">
---

<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSczP0XfKcd-BuTkbrNbwR_0Y29fzyfDYuwjLJH29Ei-ak0fKA/viewform?embedded=true"
  style="min-height:1000px"
  width="100%"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
>Loading…</iframe>
