---
layout: page.njk
title: How to help
desc: Afghan Partners in Iowa
headerClass: bg-gray-200
mainClass: bg-gray-200
h1Class: sr-only
head: >
  <link rel="preconnect" href="https://docs.google.com">
---

<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSczP0XfKcd-BuTkbrNbwR_0Y29fzyfDYuwjLJH29Ei-ak0fKA/viewform?embedded=true"
  width="640"
  height="1000"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
>Loading…</iframe>
