---
layout: base.njk
isFront: true
mainClass: bg-primary
date: Last Modified
head: >
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Afghan Partners in Iowa",
      "url": "https://www.afghanpartnersiniowa.org",
      "logo": "https://www.afghanpartnersiniowa.org/img/logo-title.png"
    }
  </script>
---
<header class="sm:min-h-screen isFront">
  <div>
    {{ plaiceholder.hero | safe }}
  </div>
  {% include "navbar.njk" %}
  <div class="flex flex-col justify-center h-full mt-16 mb-8">
    <div class="flex flex-col items-center self-center w-full px-4 sm:flex-row md:w-5/6 xl:w-2/3 sm:px-0 bg-transparent">
      <div class="w-full pt-10 pb-12 px-4 sm:px-0 text-center sm:px-8 bg-secondary-600/90 text-white">
        <h1 class="mb-6 font-bold tracking-wide text-xl marker:text-2xl sm:text-4xl">{{ site.title }}</h1>
        <p class="text-lg"><span class="font-bold">Helping Afghans who are victims of terrorism.</span></p>
      </div>
    </div>
  </div>
</header>
<main id="main-content" class="bg-gray-950 flex flex-col items-center justify-center text-white">
  <div class="bg-gray-950 w-full px-4 pt-20 pb-10">
    <div class="w-full text-center md:w-3/4 lg:w-2/3 xl:w-1/2 m-auto">
      <h2 class="text-4xl text-center mb-8 mt-8 md:mt-0">Thank you</h2>
      <p class="text-lg">
        As we step into a new year, we want to express our deepest gratitude for your unwavering support throughout 2023.
        Your commitment has been the driving force behind the significant, positive impact we've achieved in aiding the Afghan community in Iowa to
        become self-sufficient.&nbsp;<a class="text-secondary-300" href="https://www.afghanpartnersiniowa.org/announcement/2023-wrapped-2024-new-year/">Continue reading...</a>
      </p>
      <p class="mb-6"></p>
    </div>
  </div>
  <div class="bg-white w-full px-4 pt-20 pb-10 text-gray-800">
    <div class="w-full text-center md:w-11/12 m-auto">
      <div class="md:grid md:grid-cols-2 mb-8">
        <div class="relative w-3/4 md:w-full m-auto">
          {{ plaiceholder.afghansHelpingAfghans | safe }}
        </div>
        <div class="text-lg w-5/6 m-auto">
          <h2 class="text-4xl text-center mb-8 mt-8 md:mt-0">About us</h2>
          <p class="mb-6">After the Taliban took control of Afghanistan in August 2021, tens of thousands of Afghans fled Afghanistan. To date, more than 900 of them have made their home in Iowa.</p>
          <p class="mb-6">Established in 2022, Afghan Partners in Iowa aims to train Afghan refugees who speak English so they can help fellow Afghan refugees with their needs and challenges.</p>
          <div class="my-8">
           <a class="px-10 py-2 text-lg text-white rounded-full shadow-md bg-gray-700/80 hover:bg-gray-700 hover:no-underline"
              href="/about-us">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary-600 w-full px-4 pt-10 pb-10">
    <h2 class="text-4xl text-center mb-8 mt-8 md:mt-0">What we do</h2>
    <div class="w-full text-center md:w-11/12 m-auto md:grid md:grid-cols-2 md:gap-8">
      <div class="bg-primary-800 py-4 md:py-0 my-4 md:my-0">
        <h3 class="text-2xl text-center font-bold mb-12">Provide aid</h3>
        <p></p>
        <div class="relative w-full md:w-3/4 md:m-auto">
          {{ plaiceholder.immigrants | safe }}
        </div>
        <div class="my-8">
          <a class="px-10 py-2 text-lg text-white rounded-full shadow-md bg-gray-500/80 hover:bg-gray-500 hover:no-underline"
             href="/request-aid">Request aid</a>
        </div>
      </div>
      <div class="bg-primary-800 py-4 md:py-0 my-4 md:my-0">
        <h3 class="text-2xl text-center font-bold mb-12">Serve</h3>
        <p></p>
        <div class="relative w-full md:w-3/4 md:m-auto">
          {{ plaiceholder.volunteer | safe }}
        </div>
        <div class="my-8">
          <a class="px-10 py-2 text-lg text-white rounded-full shadow-md bg-gray-500/80 hover:bg-gray-500 hover:no-underline"
             href="/how-to-help">Volunteer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-200 text-black w-full px-4 pt-5">
    <h2 class="text-4xl text-center mb-12">Have questions? Contact us</h2>
    <div class="mb-8 sm:2/3 md:w-1/2 md:m-auto">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSe57QZ1oft5MCgXoqOkBN5Dl5kTNoX6kGsO7yudTu7EQzfIAg/viewform?embedded=true"
        style="min-height:1200px"
        width="100%"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
      >Loading…</iframe>
    </div>
  </div>
</main>
