---
layout: page.njk
title: News
desc: Afghan Partners in Iowa
---

{% import "./_includes/content/card.njk" as c %}

{{ c.card(
    'Talk of Iowa',
    'On November 30th, Safi and Erin were guests on Talk of Iowa - IPR News.',
    'November 30th, 2022',
    'https://www.facebook.com/DSMRefugeeSupport/posts/pfbid0f2tFBRWFZFjSkTMZMjygdRNEkw6uCjJMKezLo5Xf554q2NFMfJnxRka7cnMbEm2nl'
) }}