---
layout: base.njk
title: News
desc: Afghan Partners in Iowa
head: >
  <link rel="preconnect" href="https://connect.facebook.net">
  <link rel="preconnect" href="https://www.facebook.com">
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="7LaZsBhn"></script>
{% import "./_includes/macros/card.njk" as c %}
<header>
  <div style="bg-gray-600/90">
    {{ plaiceholder.refugeesTruck | safe }}
  </div>
  {% include "navbar.njk" %}
</header>

<main id="main-content" class="mt-18 flex flex-col items-center justify-center w-full">
  <div class="self-center w-full px-4 pt-8 sm:w-2/3 xl:w-1/2 sm:px:0">
    <div class="w-full pt-4 pb-6 px-0 sm:px-0 text-center sm:px-8 bg-gray-600/90 text-white">
      <h1 class="text-center tracking-widest uppercase">{{ title }}</h1>
    </div>
  </div>
  <div class="grid grid-cols-1 w-full my-8 px-8 xl:px-0">
    <div class="min-h-screen flex justify-center items-center">
      <div class="fb-page w-[500px]" data-href="https://www.facebook.com/afghanpartnersiniowa" data-show-posts="true" data-small-header="true" data-adapt-container-width="true" data-width="500" data-height="1000" data-hide-cover="true" data-show-facepile="false" data-lazy="true">
        <blockquote cite="https://www.facebook.com/afghanpartnersiniowa" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/afghanpartnersiniowa">Afghan Partners In Iowa</a>
        </blockquote>
      </div>
    </div>
  </div>
</main>