---
layout: page.njk
title: News
desc: Afghan Partners in Iowa
---

{% import "./_includes/content/card.njk" as c %}

{{ c.card(
    'Talk of Iowa',
    'Safi, Executive Director of Afghan Partners in Iowa, was a guest on Talk of Iowa - IPR News on November 30th, 2022. <a class="text-sky-700 underline" href="https://podcasts.apple.com/us/podcast/talk-of-iowa/id636025604?i=1000588327431" target="_blank" rel="noopener noreferrer nofollow">Listen</a>',
    'December 1st, 2022',
    'https://www.facebook.com/DSMRefugeeSupport/posts/pfbid0f2tFBRWFZFjSkTMZMjygdRNEkw6uCjJMKezLo5Xf554q2NFMfJnxRka7cnMbEm2nl'
) }}