---
layout: base.njk
title: Our services
description: We are Afghans helping Afghans. Afghan Partners in Iowa is experienced in working with refugees from Afghanistan and we are here to help.
date: Last Modified
---

<header class="min-h-screen-60">
  <div>
    {{ plaiceholder.kabul | safe }}
  </div>
  {% include "navbar.njk" %}
</header>
<main id="main-content" class="flex flex-col items-center justify-center w-full {{ mainClass or 'bg-white' }}">
  <div class="self-center w-full pt-8">
    <h1 class="text-center tracking-widest uppercase text-gray-800">{{ title }}</h1>
    <div class="mt-12">
      <div class="m-auto w-full sm:w-2/3 xl:w-1/2 mb-16 px-8">
        {{ contentful.pages.ourservices.paragraph1 | safe }}
      </div>
    </div>
  </div>
</main>
