---
layout: base.njk
title: Our services
description: We are Afghans helping Afghans. Afghan Partners in Iowa is experienced in working with refugees from Afghanistan and we are here to help.
date: Last Modified
---

<header class="min-h-screen-60">
  <div>
    {{ plaiceholder.kabul | safe }}
  </div>
  {% include "navbar.njk" %}
</header>
<main id="main-content" class="flex flex-col items-center justify-center w-full {{ mainClass or 'bg-white' }}">
  <div class="self-center w-full pt-8">
    <h1 class="text-center tracking-widest uppercase text-gray-800">{{ title }}</h1>
    <div class="mt-12">
      <div class="m-auto w-full sm:w-2/3 xl:w-1/2 mb-16 px-8">
        <p class="mb-6">These are the services we can provide at the Afghan Partners office:&nbsp;</p>
        <ul class="list-disc pl-4">
        <li>
            <p class="mb-6">English classes (taught in Pashto and Dari for every level)&nbsp;</p>
        </li>
        <li>
            <p class="mb-6">Permit testing support - interpretation during the permit test at the DOT&nbsp;</p>
        </li>
        <li>
            <p class="mb-6">Housing assistance - finding housing, speaking with landlords, filling out rental&nbsp; housing
            applications, applying for rent assistance programs offered by other organizations, eviction management&nbsp;</p>
        </li>
        <li>
            <p class="mb-6">Food access - transportation to and from the grocery store, locating food pantries, transportation
            to and from local food pantries&nbsp;</p>
        </li>
        <li>
            <p class="mb-6">Job support - Job search, applying for jobs, transportation and translation for job interviews,
            workforce applications&nbsp;</p>
        </li>
        <li>
            <p class="mb-6">Health care - making medical appointments, transportation</p>
        </li>
        <li>
            <p class="mb-6">Medicaid - enrollment, paperwork, re-enrollment</p>
        </li>
        <li>
            <p class="mb-6">School enrollment - filling out enrollment forms for minor children&nbsp;</p>
        </li>
        <li>
            <p class="mb-6">University enrollment - assistance with university application forms, applying for tuition
            assistance programs offered by other organizations</p>
        </li>
        <li>
            <p class="mb-6">Reading mail</p>
        </li>
        <li>
            <p class="mb-6">General translation and interpretation based on client goals</p>
        </li>
        </ul>
        <p class="mb-6">Afghan Partners in Iowa receives federal funding to run our programs. We have to follow the government's
        rules to use this funding. The funding is only for program expenses. We cannot give out cash, help with rent payments,
        pay university tuition, or pay for other household bills. If we do any of these things, the government will stop the
        funding, and we won't be able to keep running our programs.</p>
      </div>
    </div>
  </div>
</main>
