---
layout: page.njk
title: Request aid
desc: Afghan Partners in Iowa
headerClass: bg-gray-200
mainClass: bg-gray-200
h1Class: sr-only
head: >
  <link rel="preconnect" href="https://docs.google.com">
---

<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSd90oHCGyKyPlnVMz3va5lex6TQPrpWYJILXaK0X6Oumu0H2Q/viewform?embedded=true"
  width="640"
  height="920"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
>Loading…</iframe>
