---
layout: page.njk
title: Request aid
desc: Afghan Partners in Iowa
head: >
  <link rel="preconnect" href="https://www.google.com">
  <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
---

{% renderFile "./src/_includes/content/request-aid-form.njk" %}
